<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">about us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="herosection_image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE THE PROFESSIONAL DEVELOPER ✌</h1>
                        
                        <P>Welcome to<span class="bold-style">Technical</span>
                          , your number one source for all things we're dediceted to giveng you the very best or work .with a focus on [three characterstics.,Ie:dependability and uniqueness.]
                        </P>
                        <button class="btn-style btn-primary">read more</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>